<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />

    <script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
    <script th:src="@{/vendor/materialize/js/materialize.js}"></script>
    <script th:src="@{/app.js}"></script>


    <title th:text="'giflib | ' + ${gif.name}">Kwejk</title>
</head>
<body>
<div th:insert="fragments/menu :: menu">...</div>

    <div class="gif-detail container">
        <div class="frame row">
            <div class="col s12">
                <img th:src="@{${gif}}" alt="gif" />
                <a id="markfav" href="#" th:class="(${gif.favorite} ? 'un' : '') + 'mark favorite'"></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="meta row">
                    <div class="col s3">
                        <img class="circle" src="http://api.adorable.io/avatars/205/avatar" alt="avatar" />
                    </div>
                    <div class="col s9">

                    </div>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="share">
                   <!--<span th:text="'http://localhost:8080/detail/' + ${gif.name}">URL</span>-->
                    <textarea id="urltocopy" th:text="'http://localhost:8080/detail/' + ${gif.name}"></textarea>
                    <a id="copybutton" class="btn right" href="#">Copy</a>
                </div>
            </div>
        </div>
    </div>

<div th:insert="fragments/footer :: footer">...</div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>