<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}"/>

    <title>giflib | Home</title>
</head>
<body>

<div th:insert="fragments/menu :: menu">...</div>


    <div class="gifs container">

        <div class="row">
           <h1>GIFY</h1>
            <a th:each="gif : ${gifs}" th:href="'/detail/' + ${gif.name}"><img class="col s12 l4" th:src="@{${gif}}"/></a>
        </div>
    </div>

<div th:insert="fragments/footer :: footer">...</div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>